# Ignore everything in tmp/
tmp/*

# But keep all Robot Framework output files
!tmp/log.html
!tmp/log.js
!tmp/report.html
!tmp/report.js
!tmp/output.xml

browser/
out.txt
output.xml
playwright-log.txt
report.html