# Ignore everything in tmp/
tmp/*

# But keep all Robot Framework output files
!tmp/log.html
!tmp/log.js
!tmp/report.html
!tmp/report.js
!tmp/output.xml
!tmp/playwright_output.txt

browser/
out.txt
output.xml
report.html