# Node modules
node_modules/

# Playwright reports
playwright-report/
*.html
*.json

# Test artifacts
*.log
*.zip
*.mp4
*.png

# Environment files
.env
.env.local

# OS junk
.DS_Store
Thumbs.db

browser/
out.txt
output.xml
playwright-log.txt
report.html